@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.grid-container {
  padding: 5px;
  background-color: $borderColor;

  @include breakpoint(sm) {
    padding: 10px;
  }
  
  &.player1 {
    background-color: $player1Color;
  }

  &.player2 {
    background-color: $player2Color;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: $borderColor;
    gap: 1px;

    .grid-square {
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gridSquareBgColor;

      img {
        width: 65%;
        height: 65%;      
      }
    }  
  }
}