@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.grid-square {
  aspect-ratio: 1 / 1;

  // aspect-ratio fallback where not supported
  @supports not (aspect-ratio: 1 / 1) {
    &::before {
      float: left;
      padding-top: 100%;
      content: "";
    }
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gridSquareBgColor;
  transition: background-color 100ms linear;

  img {
    width: 65%;
    height: 65%;      
  }

  &:hover {
    background-color: $gridSquareBgColorHover;
  }
}  