@use '../../styles/_variables.scss' as *;
@use '../../styles/mixins' as *;

.player-scores {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  
  .player {
    flex: 1;
    padding: 10px 20px;

    @include breakpoint(md) {
      padding: 20px 30px;
    }

    &.player1 {
      background-color: $player1Color;
    }
  
    &.player2 {    
      background-color: $player2Color;
    }

    .count {
      font-size: 2rem;
      font-weight: bold;

      @include breakpoint(md) {
        font-size: 2.5rem;
      }
    }
  
    .player-name {
      border-top: 1px solid #444444;
      margin-top: 5px;
      padding-top: 7px;
      font-size: 1rem;
      white-space: nowrap;

      @include breakpoint(md) {
        font-size: 1.2rem;
      }
    }
  }

}