@use './styles/variables' as *;
@use './styles/mixins' as *;

.app-container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto $appContainerMargin auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  @include breakpoint(md) {
    margin-top: $appContainerMargin;
    width: 80%;
  }

  @include breakpoint(lg) {
    flex-direction: row;
  }
}

.game-grid-container {
  padding-left: 0;
  position: relative;
  
  @include breakpoint(lg) {
    width: 65%;
    margin-left: 20px;
    align-self: start;
    max-width: calc(100vh - ($appContainerMargin * 2));
  }
}

.game-info-container {
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;
    margin-top: 20px;
  }

  @include breakpoint(lg) {
    width: 35%;
    margin-top: 0;
    flex-direction: column;
    max-width: 500px;
  }
}