@use './styles/variables' as *;
@use './styles/mixins' as *;

.app-container {
  display: flex;
  flex-direction: column-reverse;

  @include breakpoint(lg) {
    flex-direction: row;
  }
}

.game-grid-container {
  padding: 20px;
  background-color: lightgreen;

  @include breakpoint(lg) {
    width: 50%;
  }
}

.game-info-container {
  display: flex;
  flex-direction: column;

  @include breakpoint(sm) {
    flex-direction: row;
  }

  @include breakpoint(lg) {
    width: 50%;
    flex-direction: column;
  }

  .player-score-container {
    width: 100%;
    background-color: lightseagreen;

    @include breakpoint(sm) {
      width: 50%;
    }

    @include breakpoint(md) {
      width: 100%;
    }
  }
  
  .ship-info-container {
    width: 100%;
    padding: 20px;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include breakpoint(sm) {
      width: 50%;
    }

    @include breakpoint(md) {
      width: 100%;
    }
  }
}



